body {
  background-color: #d3e0ea;
  font-weight: bold;
  font-family: "Overpass", sans-serif;
  font-size: 22px;
  color: lightblue;
}

div.row {
  font-weight: bold;
  font-family: "Overpass", sans-serif;
  font-size: 22px;
  color: #152b31;
}

h1.name {
  color: rgb(173, 90, 228);
  font-size: 40px;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-style: italic;
}

h2.today {
  padding: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: lightblue;
}

h3.hourly {
  text-align: center;
  font-size: 32px;
  color: rgb(147, 71, 197);
}

div.row {
  margin-bottom: -10px;
}

h4 {
  text-align: right;
  margin-top: 10px;
  position: relative;
}
p {
  color: black;
  text-align: center;
  font-size: 24px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: italic;
  color: rgb(147, 71, 197);
  font-size: 17px;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.col-4:first-letter {
  text-transform: capitalize;
}

a.skyday:link {
  color: rgb(147, 71, 197);
  text-decoration: none;
}

a.skyday:visited {
  color: rgba(207, 61, 110, 0.774);
  text-decoration: none;
}

a.skyday:hover {
  text-decoration: underline;
  color: lightblue;
  background-color: rgba(58, 53, 122, 0.658);
  font-size: 26px;
  font-weight: bold;
}
a.skyday:active {
  color: rgb(147, 71, 197);
  text-decoration: underline;
}

small {
  color: rgb(147, 71, 197);
  font-style: italic;
}

a.open:link {
  font-size: 14px;
  color: rgb(147, 71, 197);
}
a.open:hover {
  text-decoration: underline;
  color: lightblue;
  background-color: rgba(58, 53, 122, 0.658);
}

input,
select,
textarea {
  color: #1687a7;
}

.col-4 {
  color: white;
  background-color: rgba(58, 53, 122, 0.55);
  font-size: 27px;
  font-weight: lighter;
}
.col-2 {
  color: white;
  background-color: rgba(58, 53, 122, 0.55);
  text-align: center;
}

.btn.btn-light {
  font-family: arial;
}

.card {
  background-image: url(https://images.wallpaperscraft.com/image/moon_clouds_dark_132991_800x600.jpg);
  max-width: 750px;
  margin: 30px auto;
}

.input-city {
  font-family: "Overpass", sans-serif;
}

.large-icon-temperature.fas.fa-cloud {
  font-family: "Overpass", sans-serif;
  font-size: 145px;
}
.fahrenheit-and-celsius {
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: -16px;
}
.btn.btn-secondary {
  background-color: rgba(58, 53, 122, 0.658);
}
